* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
      background: #f4f6f8;
      font-family: 'Segoe UI', Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
    background-color: #bf8b2e;
    color: #fff;
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
} 

h1 {
    margin-bottom: 0.2em;
    font-size: 2.5rem;
}

h2 {
    margin-top: 0;
    font-weight: 400;
    font-size: 1.3rem;
}

nav {
    background: #fffbe6;
    padding: 0.5rem 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.03);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav a {
    color: #b8860b;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
}

nav a:hover {
    color: #ff8800;
}

.mapa-lista {
  max-width: 700px;
  margin: 40px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  padding: 24px;
}

.mapa-lista table {
  width: 100%;
  border-collapse: collapse;
}

.mapa-lista th,
.mapa-lista td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.mapa-lista th {
  background: #ffd600;
}

#map {
  height: 600px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Footer sticky abajo */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  letter-spacing: 0.5px;
  flex-shrink: 0; /* Que no se achique */
  margin-top: 2rem;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

body > *:not(#particles-js) {
  position: relative;
  z-index: 1;
}