<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/conclusionesStyle.css">
</head>

<body>
    <div id="particles-js"></div>

    <header>
        <h1>Conclusión ODS 12</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/info">Investigación</a></li>
            <li><a href="/buscador">Buscador</a></li>
            <li><a href="/mapa">Mapa</a></li>
            <li><a href="/conclusiones">Conclusión</a></li>
        </ul>
    </nav>

    <section>
        <h2>Conclusiones del ODS 12</h2>
        <p>
            ¿Qué estrategias de optimización se podrían implementar para aumentar la tasa de reciclaje?
        </p>
        <p>
            Se podrían implementar sistemas inteligentes en la gestión de residuos, como sensores en contenedores que
            avisen cuando están llenos, o análisis de datos en tiempo real para saber qué zonas reciclan menos y actuar
            sobre ellas. También ayudaría aplicar normativas que obliguen a separar los residuos correctamente y
            fomentar la economía circular a nivel local.
        </p>
    </section>

    <section>
        <h2>¿Cómo se podría mejorar la recogida selectiva de residuos?</h2>
        <p>
            Una forma de mejorarla sería instalando más puntos de recogida específicos (papel, vidrio, envases,
            orgánico, etc.) en zonas donde hay menos acceso. También es importante hacer campañas educativas para que la
            ciudadanía sepa cómo separar bien los residuos. Otra medida útil sería establecer horarios de recogida más
            eficientes y adaptados a cada barrio o municipio.
        </p>
    </section>

    <section>
        <h2>¿Cómo se podría mejorar la recogida selectiva de residuos?</h2>
        <p>
            Una forma de mejorarla sería instalando más puntos de recogida específicos (papel, vidrio, envases,
            orgánico, etc.) en zonas donde hay menos acceso. También es importante hacer campañas educativas para que la
            ciudadanía sepa cómo separar bien los residuos. Otra medida útil sería establecer horarios de recogida más
            eficientes y adaptados a cada barrio o municipio.
        </p>
    </section>

    <section>
        <h2>¿Qué acciones se podrían llevar a cabo para fomentar la reducción de la generación de residuos?</h2>
        <p>
            Se pueden promover hábitos de consumo responsable, como usar productos reutilizables, comprar a granel o
            evitar envases de un solo uso. También se pueden incentivar las reparaciones y la reutilización antes de
            tirar algo. A nivel institucional, sería útil incluir estos temas en la educación y apoyar a empresas que
            apuesten por la sostenibilidad en su producción. </p>
    </section>

    <section>
        <h2>¿Qué acciones 
            se podrían llevar a cabo para fomentar la reducción de la generación de residuos?</h2>
        <p>
            Se pueden promover hábitos de consumo responsable, como usar productos reutilizables, comprar a granel o
            evitar envases de un solo uso. También se pueden incentivar las reparaciones y la reutilización antes de
            tirar algo. A nivel institucional, sería útil incluir estos temas en la educación y apoyar a empresas que
            apuesten por la sostenibilidad en su producción. </p>
    </section>

    <section>
        <h2>Conclusión:</h2>
        <p>
            Comparando la cantidad de residuos generados por municipio con la encuesta realizada por usuarios indicando
            dónde suelen comprar usualmente, se puede observar que las ciudades donde se compra más en supermercados e
            hipermercados son las que más kilogramos de residuos almacenan.<br>
            En conclusión, para mejorar la gestión de residuos y cumplir con el ODS 12, es clave aplicar tecnologías
            inteligentes, ampliar la recogida selectiva con más puntos accesibles y concienciar a la ciudadanía. Sobre
            todo en estas zonas con más generación de residuos. Además, fomentar el consumo responsable y la
            reutilización ayudará a reducir la generación de residuos desde el origen.

        </p>
    </section>
</body>

<script src="/particulas/particles.min.js"></script>
  <script>
    particlesJS.load('particles-js', '/particulas/particlesjs-config.json');
  </script>

<footer>
  <p>Team 7 - Anmolpreet Singh - Angel Sardinha - Ainara Valdivieso - Usman Rashid</p>
  <p>Instituto Tecnológico de Barcelona</p>
</footer>

</html>