<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacte i Recursos - ODS 12</title>
    <link rel="stylesheet" href="/style/indexStyle.css">
</head>
<body>
    <header>
        <h1>Contacte i Recursos ODS 12</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Inici</a></li>
            <li><a href="#contacte">Contacte</a></li>
            <li><a href="#recursos">Recursos</a></li>
            <li><a href="/buscador">Buscador</a></li>

        </ul>
    </nav>
    <section id="recursos">
        <h3>Recursos sobre l'ODS 12</h3>
        <ul>
            <li><a href="https://www.un.org/sustainabledevelopment/es/sustainable-consumption-production/" target="_blank">ONU: Consum i producció responsables</a></li>
            <li><a href="https://www.ods.cat/ods/12/" target="_blank">ODS 12 a Catalunya</a></li>
            <li><a href="https://www.ecologistasenaccion.org/ods-12/" target="_blank">Ecologistes en Acció: ODS 12</a></li>
        </ul>
    </section>
    <footer>
        <p>Team 7</p>
    </footer>
</body>
</html>