<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>ODS 12 - Inicio</title>
  <link rel="stylesheet" href="/style/inicioStyle.css">

</head>
<body>
  <div class="inicio-container">
    <img src="/imagenInicio.png" alt="ODS 12" class="inicio-img">
    <form action="/info" method="get">
      <button class="btn-empezar" type="submit">Empieza ya</button>
    </form>
  </div>
</body>
</html>